<h1>Hledání</h1>
<form id="search" action="kluby" method="get">
	<table>
		<tr>
			<td>
				<input type="search" placeholder="Zadejte hledaný výraz" name="search" value="{{old_search}}">
			</td>
			<td width="20">
				<input type="submit" value="">
			</td>
		</tr>
	</table>
</form>

<h1>Kategorie</h1>

{{#has_items}}
	<div class="list">

		{{#items}}
			<a href="./kluby?{{url}}">{{name}}</a>
		{{/items}}

	</div>
{{/has_items}}

{{^has_items}}
	<p class="msg">Žádné kategorie (wtf?)<br><br><img src="{{DIR_STATIC}}/images/ghost.png" width="130"></p>
{{/has_items}}