{{#SETTINGS_NEW_POST_COLOR}}
<!-- Style for user specific settings -->
<style>
.nove-post {

	background: {{SETTINGS_NEW_POST_COLOR}} !important;
}
</style>
{{/SETTINGS_NEW_POST_COLOR}}

<div class="posts-menu">
	<a href="./klub?{{vlevo}}" class="sipka-vlevo {{more_new_posts}}"></a>
	<a href="./klub?{{dvlevo}}" class="sipka-dvlevo"></a>
	<a href="./klub?{{dvpravo}}" class="sipka-dvpravo"></a>
	<a href="./klub?{{vpravo}}" class="sipka-vpravo"></a>
	{{#can_add}}
		<a href="./pridat?klub={{club}}" class="sipka-plus"></a>
	{{/can_add}}
	<a href="./klub?klub={{fav_url}}" class="sipka-srdce right {{favourite}}"></a>
</div>

<h1>{{club_name}}</h1>

<div id="posts">
	{{#items}}

		<table class="post">
			<tr>
				{{^SETTINGS_HIDE_AVATARS}}
					<td>
						<a href="./pridat?klub={{club}}&amp;to={{nick}}&amp;id={{id}}">
							<img alt="Avatar" class="avatar" {{#can_delete}}data-candelete="klub"{{/can_delete}} data-id="{{id_num}}" src="http://www.lapiduch.cz/{{avatar_url}}">
						</a>
					</td>
				{{/SETTINGS_HIDE_AVATARS}}
				<td>
					<div class="{{is_new}}">
						<span class="nick">{{nick}}</span>
						<span class="datetime" onclick="swapTime(this)" {{#SETTINGS_RIGHT_CORNER}}data-time="{{time}}"{{/SETTINGS_RIGHT_CORNER}}>
							{{#SETTINGS_RIGHT_CORNER}}
								ID: {{id_num}}
							{{/SETTINGS_RIGHT_CORNER}}
							{{^SETTINGS_RIGHT_CORNER}}
								{{time}}
							{{/SETTINGS_RIGHT_CORNER}}
						</span>
						{{#title}}
							<br />
							<span class="nadpis">{{title}}</span>
						{{/title}}
						<div class="post-content">
							{{{text}}}
						</div>

					</div>
				</td>
			</tr>
		</table>

	{{/items}}
</div>


<div class="posts-menu">
	<a href="./klub?{{vlevo}}" class="sipka-vlevo {{more_new_posts}}"></a>
	<a href="./klub?{{dvlevo}}" class="sipka-dvlevo"></a>
	<a href="./klub?{{dvpravo}}" class="sipka-dvpravo"></a>
	<a href="./klub?{{vpravo}}" class="sipka-vpravo"></a>
	{{#can_add}}
		<a href="./pridat?klub={{club}}" class="sipka-plus"></a>
	{{/can_add}}
	<a href="./klub?klub={{fav_url}}" class="sipka-srdce right {{favourite}}"></a>
</div>

