<nav>
	<a href="./nove">
		<figure>
			<img src="{{DIR_STATIC}}/images/neprectene.png" alt='Nové'/>
			<figcaption>Nové</figcaption>
		</figure>  
	</a>
	<a href="./oblibene">
		 <figure>
			<img src="{{DIR_STATIC}}/images/oblibene.png" alt='Oblíbené' />
			<figcaption>Oblíbené</figcaption>
		</figure>  
	</a>
	<a href="./posta">
		<figure>
			<img src="{{DIR_STATIC}}/images/posta.png" alt='Pošta' />
			<figcaption>Pošta({{unread_msg_count}})</figcaption>
		</figure>  
	</a>
	<a href="./kategorie">
		<figure>   
			<img src="{{DIR_STATIC}}/images/kluby.png" alt='Kluby' />
			<figcaption>Kluby</figcaption>
		</figure>  
	</a>
	<a href="./zebricky">
		<figure>
			<img src="{{DIR_STATIC}}/images/zebricky.png" alt='Žebříčky' />
			<figcaption>Žebříčky</figcaption>
		</figure>  
	</a>
	<a href="./nastaveni">
		<figure>
			<img src="{{DIR_STATIC}}/images/nastaveni.png" alt='Nastavení' />
			<figcaption>Nastavení</figcaption>
		</figure>  
	</a>     
	<!--<a href="./odhlasit">
		<figure>
			<img src="{{DIR_STATIC}}/images/odhlasit.png" alt='Odhlásit se' />
			<figcaption>Odhlásit se</figcaption>
		</figure>  
	</a>-->
</nav>
