{{#SETTINGS_NEW_POST_COLOR}}
<!-- Style for user specific settings -->
<style>
.nove-post {

	background: {{SETTINGS_NEW_POST_COLOR}};
}
</style>
{{/SETTINGS_NEW_POST_COLOR}}

<div class='posts-menu'>
	<a href="posta?{{vlevo}}" class="sipka-vlevo {{vice}}"></a>
	<a href="posta?{{dvlevo}}" class="sipka-dvlevo"></a>
	<a href="posta?{{dvpravo}}" class="sipka-dvpravo"></a>
	<a href="posta?{{vpravo}}" class="sipka-vpravo"></a>
	<a href="./poslat" class="sipka-plus"></a>
</div>

<h1>Pošta</h1>
<div id="posts">
	{{#items}}
		<div class="post new-post {{is_new}}">
			<div class="post-info">
				{{^SETTINGS_HIDE_AVATARS}}
					<a href="/poslat?to={{nick}}" style="float: left">
						<img alt="Avatar" class="avatar" data-candelete="posta" data-id="{{id}}" src="http://www.lapiduch.cz/{{avatar_url}}">
					</a>
				{{/SETTINGS_HIDE_AVATARS}}

				<div class="post-info-middle">
					<div class="nick">
						<span class="post-for">{{info}}</span>
						{{nick}}
					</div>

					<div class="post-buttons">
						{{#unread}}
							<a class="post-icon-unread"></a>
						{{/unread}}
						{{^is_mine}}<a href="/poslat?to={{nick}}" class="post-icon-reply"></a>{{/is_mine}}
						<a href="./smaz?post={{id}}&amp;type=posta" onclick="deletePost('{{id}}', 'posta');return false;" class="post-icon-delete"></a>
					</div>
				</div>

				<div class="datetime">
					<div>{{time}}</div>
					<div class="post-id">{{id}}</div>
				</div>
				<div style="clear: both"></div>
			</div>
						
			<div class="post-content">
					{{#title}}
						<span class="nadpis">{{title}}</span>
						<br />
					{{/title}}
					{{{text}}}
			</div>
			
		</div>

	{{/items}}
</div>


<div class='posts-menu'>
	<a href="posta?{{vlevo}}" class="sipka-vlevo {{vice}}"></a>
	<a href="posta?{{dvlevo}}" class="sipka-dvlevo"></a>
	<a href="posta?{{dvpravo}}" class="sipka-dvpravo"></a>
	<a href="posta?{{vpravo}}" class="sipka-vpravo"></a>
	<a href="./poslat" class="sipka-plus"></a>
</div>